{{ includeTemplate "install/third-party" (dict "os" .chezmoi.os "yabai" (or (not (hasKey . "windowManager")) .windowManager.yabai) "skhd" (or (not (hasKey . "windowManager")) .windowManager.skhd) "sketchybar" (or (not (hasKey . "windowManager")) (not (hasKey .windowManager "sketchybar")) .windowManager.sketchybar)) -}}
